
.Link {
  text-decoration: none;
  color: #6200EE;
}
.divWidth{
  width: 100%;
}
.w-55{
  width: 55%;
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.initials {
  color         : #FFFFFF;
  font-size     : 40px;
  line-height   : 19px;
  letter-spacing: 0.2625px;
}
.inputError {
  color: crimson;
}
.mat-raised-button.mat-primary {
  background-color: #60a3bc;
}
.mat-raised-button.mat-warn {
  background-color: #c0392b;
}
.round{
  border-radius: 25px;
}

h1 {
  text-align: center;
}
