
<nav id="sidebar" class="navBarHeight h-100 ">
  <div class="pt-4 pl-4 pr-4 ">
    <img src="assets/images/plate.png" class=" mb-3 "  width="170" height="150" alt="The perfect meal">
    <ul class="list-unstyled components mb-5">
      <li *ngIf="isAdmin()">
        <a routerLink="/alarms"><span class="fa fa-bell mr-3"></span> Alarms</a>
      </li>
      <li *ngIf=isUser()>
        <a routerLink="/profile"><span class="fas fa-user mr-3"></span> Profile</a>
      </li>
      <li >
        <a routerLink="/recipes"><span class="fas fa-book mr-3"></span> Recipes</a>
      </li>
      <li *ngIf="isUser()">
        <a routerLink="/recipe-recommendation" class="ml-5">Recipes recommendation</a>
      </li>
      <li>
        <a routerLink="/restaurants"><span class="fas fa-utensils mr-3"></span> Restaurants</a>
      </li>
      <li *ngIf="isAdmin()">
        <a routerLink="/restaurant-reports"><span class="fas fa-file-alt mr-3"></span> Reports </a>
      </li>
      <li *ngIf="isUser()">
        <a routerLink="/restaurant-recommendation"  class="ml-5">Restaurant recommendation</a>
      </li>

      <li  *ngIf="isUser()||isAdmin()" class="mt-5" style="cursor: pointer;">
        <a (click)="logOut()" ><span class="fas fa-sign-out-alt mr-3 mt-5" ></span>Log out</a>
      </li>
      <li  *ngIf="isLoggedIn()" class="mt-5" style="cursor: pointer;">
        <a href="/login"><span class="fas fa-sign-out-alt mr-3 mt-5" ></span>Log in</a>
      </li>
    </ul>

  </div>
</nav>
