<div class="cardHeight cardBackground mt-4">
  <div class="card shadow h-25 clickable {{workingClass}}" id="card{{restaurant.id}}">
    <div (click)="showDetails()">
      <img class="card-img-top" style="height: 150px;" [alt]="restaurant.name" *ngIf="restaurant.image === null" src="https://c.ndtvimg.com/2020-01/hqocblio_restaurant-_625x300_14_January_20.jpg">
      <img class="card-img-top" style="height: 150px;" [alt]="restaurant.name" *ngIf="restaurant.image !== null" [src]="'data:image/png;base64,'+restaurant.image.picByte">
      <div class="card-body">
        <div style="height: 50px;">
          <h4 class="float-left" title="Title">{{restaurant.name}}</h4>
          <h4 class="float-left closed" *ngIf="!isWorking"><span class="ml-2"><mat-icon>lock</mat-icon><b>CLOSED</b></span></h4>
          <h5> <i class="fa fa-star float-right" aria-hidden="true" title="Average grade"> {{restaurant.grade.toFixed(2)}}</i></h5>

        </div>

        <p class="card-text excerpt" title="Description"><small>{{restaurant.description}}</small></p>
      </div>
    </div>
    <div class="pl-2">
      <h6 class="float-left"><span class="badge badge-light float-left" title="Working hours"><mat-icon>alarm</mat-icon> {{restaurant.workingHours}} </span></h6>

      <h6 *ngIf="restaurant.hasWifi" class="float-right"><span class="badge badge-light float-left" title="Working hours"><mat-icon>wifi</mat-icon></span></h6>

      <div class="float-right" *ngIf="isAdmin()">
        <button mat-mini-fab color="warn" class="mr-2 mb-2" (click)=deleteRestaurant(restaurant.id) style="outline: none">
          <mat-icon>alarm</mat-icon>
        </button>
      </div>
      <div class="float-right" *ngIf="isAdmin()">
        <button mat-mini-fab color="primary" class="mr-2 mb-2" (click)=edit(restaurant) style="outline: none">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
