<div class="wrapper d-flex align-items-stretch">
  <div style="height: 147vh;">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="m-3 w-100 shadow ">
    <div class="ml-3 ">
      <h1>Restaurants</h1>
    </div>
    <div  id="restaurants" class="row col-md-12 w-100 pt-1 pl-auto pr-auto">

      <app-filter-restaurants (filterEvent)="filterRestaurants($event)"></app-filter-restaurants>
      <app-restaurant class="col-md-4"
                      *ngFor="let restaurant of getAllRestaurants()"
                      [restaurant]="restaurant"
      >
      </app-restaurant>
      <div id="noRestDiv" class="row col-md-12 w-100 pt-1 pl-auto pr-auto" *ngIf="getAllRestaurants().length === 0">
        <h4 class="m-5 align-self-center">There are no restaurants to show.</h4>
      </div>
    </div>
    <div class="mb-5 mt-5 " >
      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="p_length"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageIndex]="pageIndex">
      </mat-paginator>
    </div>
  </div>

</div>
